@mixin bordered {
    border: 2px dotted #dd0330;
}
main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
  @include bordered;
}
