$brand-color: #006064;
$brand-accent: #C62828;
$black: #212121;

@mixin df {
    display: flex;
}

@mixin df--row {
    @include df;
    flex-flow: row nowrap;
}

@mixin df--col {
    @include df;
    flex-flow: column nowrap;
}

@mixin df--wrap {
    flex-wrap: wrap!important;
}

@mixin f--grow($basis: auto) {
    flex: 1 0 $basis;
}
@mixin f--shrink($basis: auto) {
    flex: 0 1 $basis;
}
