<div class="post">
  <div class="post__header">
    <a href="#" class="post__username"
      ><span class="post__userpic"
        ><img
          src="https://taverasmisael.com/static/a5ccdd590bcaaa02a5591df5c2814658/6b873/me.jpg"
          alt="taverasmisael"
          class="img"
          width="32"
          height="32"
      /></span>
      taverasmisael</a
    >
    <time class="post__time">2h</time>
  </div>
  <div class="post__body">
    <span class="post__heart"><i class="material-icons">favorite</i></span>
    <a href="#" class="u-cover-link post__image__container">
      <div class="post__image"></div>
    </a>
  </div>
  <div class="post__meta">
    <p class="post__likes"><span class="counter">88</span> Me gusta</p>
    <p class="post__description">
      <a href="#" class="post__username">taverasmisael</a> Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Laboriosam vel laudantium, eaque rem
      veritatis maxime.
    </p>
  </div>
  <div class="post__footer">
    <a href="#" class="post__action post__action--love"
      ><i class="material-icons">favorite_outline</i></a
    >
    <input
      type="text"
      class="post__action post__action--comment"
      placeholder="Añade un comentario"
    />
    <a href="#" class="post__action post__action--options"
      ><i class="material-icons">more_horiz</i></a
    >
  </div>
</div>
